<div class="user-profile">
  <%= image_tag @user.photo %>
  <h1><%= @user.name %></h1>
  <h3>Number of posts: <%= @user.posts_counter %></h3>
  <h2>Bio</h2>
  <p><%= @user.bio %></p>
  
  <% @user.recent_three_posts.each do |post| %>
    <a href="<%= @user.id %>/posts/<%= post.id %>">
      <div class="post">
        <h2><%= post.title %></h2>
        <p><%= post.text %></p>
        <span class="comments">Comments: <%= post.comments_counter %>, </span>
        <span class="likes">Likes: <%= post.likes_counter %></span>
      </div>
    </a>
  <% end %>
  
  <a href="<%= @user.id %>/posts/" class="button">See all posts</a>
</div>
